.root {-fx-font-family: "Microsoft YaHei";-fx-font-smoothing-type: lcd;}

/*标题栏样式*/
.jfx-decorator {-fx-decorator-color: derive(#00BCD4, -10%);}
.jfx-decorator .jfx-decorator-buttons-container {-fx-background-color: -fx-decorator-color;}
.jfx-decorator .resize-border {-fx-border-color: -fx-decorator-color;-fx-border-width: 0 1 1 1;}
.jfx-decorator .jfx-decorator-title-container .jfx-decorator-text {-fx-fill: WHITE;-fx-font-size: 16;-fx-font-weight: bold;}

/*nav菜单样式*/
.nav-menu {-fx-padding: 20 10;-fx-font-size: 15px;-fx-text-fill: black;}
.jfx-drawer-overlay-pane {-fx-background-color: rgba(0, 0, 0, 0.5);}
.jfx-drawer-side-pane {-fx-background-color: WHITE;}
.nav-menu .jfx-list-view {-fx-background-insets: 0;-jfx-vertical-gap: 10px;-jfx-expanded: false;}

/*工具栏样式*/
.jfx-tool-bar {-fx-font-size: 24;-fx-font-weight: bold;-fx-background-color: #00BCD4;-fx-pref-width: 100%;-fx-pref-height: 64px;}
.jfx-tool-bar HBox {-fx-alignment: center;-fx-spacing: 25;-fx-padding: 0.0 10;}
.jfx-tool-bar Label {-fx-text-fill: WHITE;}
.jfx-tool-bar .jfx-options-burger {-fx-padding: 22px;}
.jfx-tool-bar .jfx-options-burger StackPane {-fx-pref-width: 4px;}
.jfx-tool-bar .jfx-rippler {-jfx-rippler-fill: WHITE;}
.option-list-view {-fx-pref-width: 160px;-fx-background-color: WHITE;}
.option-jfx-list-view-icon {-fx-fill: #00BCD4;-fx-padding: 0 10 0 5;-fx-cursor: hand;}

/*工具栏图标样式*/
.jfx-hamburger {-fx-padding: 10.0;-fx-spacing: 4px;-fx-cursor: hand;}
.jfx-hamburger StackPane {-fx-pref-width: 30px;-fx-pref-height: 4px;-fx-background-color: #FFF;-fx-background-radius: 5px;}

/*popup及snackber样式*/
.jfx-popup-overlay-pane {-fx-background-color: transparent;}
.jfx-popup-container {-fx-background-color: WHITE;-fx-pref-width: 151.0px;}
.popup-list-view {-fx-pref-width: 150.0px;}
.jfx-snackbar-content {-fx-background-color: #323232;}
.jfx-snackbar-toast {-fx-text-fill: WHITE;}
.jfx-snackbar-action {-fx-text-fill: #ff4081;}

/*数据库列表样式*/
.card-view {-fx-min-height: 270px;-fx-pref-height: 270px;-fx-max-height: 270px;-fx-min-width: 225px;-fx-max-width: 225px;-fx-pref-width: 225px;}
.card-view .card-header {-fx-background-radius: 5 5 0 0;-fx-background-color: #99C286;}
.card-view .card-body {-fx-background-radius: 0 0 5 5; -fx-background-color: #F5F5F5;}
.card-view .card-button {-fx-pref-height: 40px;-fx-pref-width: 40px;-fx-background-radius: 40;-fx-background-color:#56456c;}

/*List样式*/
.jfx-list-cell {-fx-background-insets: 0.0;-fx-text-fill: BLACK;}
.jfx-list-cell:odd, .jfx-list-cell:even {-fx-background-color: WHITE;}
.jfx-list-cell:filled:hover, .jfx-list-cell:selected .label {-fx-text-fill: black;}
.jfx-list-cell .jfx-rippler {-jfx-rippler-fill: #00BCD4;}
